#planets-container {
    position: relative;
    width: 500px;
    height: 500px;
    border: 2px solid black;
}
#planets-container img {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 10ms;
}