* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Iceberg', cursive;
}
body {
    height: 100vh;
    display: flex;
    background: linear-gradient(180deg, #000 0, #210249 100%);
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
#planets-container {
    position: absolute;
    background: aqua;
}
#planets-container img {
    width: 150px;
    position: absolute;
    transition: transform 1ms, opacity 1s;
    opacity: 0;
}

#planets-description-container {
    position: absolute;
    background: aqua;
}
#planets-description-container .planet-description {
    width: 500px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1ms, opacity 1s;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    max-width: 90vw;
}
.planet-description h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.planet-description h1, .planet-description h2 {
    -webkit-background-clip: text;
    color: transparent;
}
img.sun {
    position: absolute;
    bottom: 0;
    left: 0;
}
img.sun.right {
    left: auto;
    right: 0;
    transform: rotateY(180deg);
}
img.rotate {
    position: absolute;
    top: 35vh;
    left: 5vw;
    cursor: pointer;
    opacity: 0.4;
}
img.rotate.right {
    right: 5vw;
    left: auto;
}
@media (max-width: 768px) {
    .sun {
        width: 100px;
    }
}

.visible {
    opacity: 1 !important;
}

.hidden-element {
    animation: hideElement 2s forwards;
}
.earth *{
    background: linear-gradient(#86DC3A, #6CBCE9);
}

.pluto *{
    background: linear-gradient(#E7D99D, #988555);
}

.saturn *{
    background: linear-gradient(#C27151, #EBC79A);
}
.venus *{
    background: linear-gradient(#724113, #CC9169);
}
.mercury *{
    background: linear-gradient(#724113, #C28253);
}
.mars *{
    background: linear-gradient(#922F47, #FAC248);
}
.moon *{
    background: linear-gradient(#6F8F8C, #C8D0CE);
}
.uranus *{
    background: linear-gradient(#0A5598, #9BF0FC);
}
.neptune *{
    background: linear-gradient(#13416F, #589BD1);
}
.jupiter *{
    background: linear-gradient(#C1AB86, #4D9AA6);
}
